{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "plugins": [["istanbul", {
        "all": true,
        "include": ["src/**/*.js"],
        "exclude": [
          "src/**/*.test.js"
        ]
      }]]
    }
  }
}
